<nav class="navbar">
<div class="navbar-nav">
  <ul>
    <li> <a href="{{@blog.url}}">Home</a></li>
    <li> <a href="{{@blog.url}}/sobre-mim">Sobre mim</a></li>
    <li> <a href="{{@blog.url}}/talks">Talks</a></li>
  </ul>
</div>
</nav>
