<nav class="navbar" id="{{#is "home"}}navIndex{{/is}}">
  <ul>
    <li> <a href="https://github.com/macgyvermartins" target="_blank"><span class="moon-github4"></span><label>github</label></a></li>
    <li> <a href="https://twitter.com/@macgyvermartins" target="_blank"><span class="moon-twitter"></span><label>twitter</label></a></li>
    <li> <a href="https://br.linkedin.com/pub/macgyver-martins/49/221/15a" target="_blank"><span class="moon-linkedin2"></span><label>linkedin</label></a></li>
  </ul>
</nav>
