@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-u8xosp');
	src:url('../fonts/icomoon.eot?#iefix-u8xosp') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?-u8xosp') format('truetype'),
		url('../fonts/icomoon.woff?-u8xosp') format('woff'),
		url('../fonts/icomoon.svg?-u8xosp#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="moon-"], [class*=" moon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.moon-bubble:before {
	content: "\e600";
}
.moon-paperplane:before {
	content: "\e601";
}
.moon-lab:before {
	content: "\e602";
}
.moon-twitter:before {
	content: "\ea91";
}
.moon-github4:before {
	content: "\eab4";
}
.moon-linkedin2:before {
	content: "\eac9";
}
